<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Homepage</title>
<meta charset="UTF-8">
</head>
<body style="background-color:powderblue;">
<%= link_to 'About', about_path %>
<hr>

<h1 style="font-family:courier;font-size:300%;text-align:center;">This is the Homepage</h1>

<%= image_tag'railway.jpeg' %>

</body>
</html>